@import "tailwindcss";

:root {
  --maritimo-1: #2629ac;
  --maritimo-2: #1a1b6b;
  --maritimo-3: #f9f5e2;
  --maritimo-4: #c2bbdd;
  --maritimo-5: #f8f5ff;
}

@theme {
  --color-maritimo-1: var(--maritimo-1);
  --color-maritimo-2: var(--maritimo-2);
  --color-maritimo-3: var(--maritimo-3);
  --color-maritimo-4: var(--maritimo-4);
  --color-maritimo-5: var(--maritimo-5);

  --font-caudex: "Caudex", serif;
  --font-manrope: "Manrope", sans-serif;
}
